* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.navigation {
    text-align: center;
}

.navigation nav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav a {
    color: inherit;
    text-decoration: none;
    transition: all 250ms;
}

nav a:hover {
    scale: 1.1;
}

.container {
    margin: 4vh 4vw;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    width: 300px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card .body {
    padding: 8px;
}

.card .title {
    text-align: center;
}

.card .footer {
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
}

.card .footer input {
    width: 3em;
}
.login-button{
    display:flex;
    cursor: pointer;
    text-align: right;
}


